@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

*,html{font-family: Arial, Helvetica, sans-serif;}
.bg-white{background: white;}
.animation-center{  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/ /*if we only want this item to be smack center*/
 }
.loading-text{
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: large;
    top: -30px;
    position: relative;
    font-style: italic;
}

header {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: black;
    font-size: large;
    position: relative;
}


body {
	margin: 0;
	background: #222;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Signika Negative', sans-serif;
}

nav a:hover {
  color: black;
}

nav a:hover::before {
    width: 100%;
  }
  

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

